<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
    <script src="js/angular-bootstrap/jquery.js"></script>
    <script src="js/angular-bootstrap/angular.min.js"></script>
    <script src="js/angular-bootstrap/angular-local-storage.js"></script>
    <script src="js/angular-bootstrap/angular-translate.min.js"></script>
    <script src="js/angular-bootstrap/angular-translate-loader-static-files.min.js"></script>
    <script src="js/angular-bootstrap/underscore.js"></script>
    <script src="js/angular-bootstrap/angular-animate.min.js"></script>
    <script src="js/angular-bootstrap/bootstrap.min.js"></script>
    <script src="js/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="js/user-custom/main.js"></script>
    <script src="js/user-custom/action-service.js"></script>
    <script src="js/user-custom/main-constant.js"></script>
    <script src="js/user-custom/service.js"></script>
    <script src="js/user-custom/login-controller.js"></script>
    <script src="js/user-custom/portal-param.js"></script>
    <script src="js/user-custom/style.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/user-custom/success-controller.js"></script>
    <link rel="stylesheet" type="text/css" href="css/portal-layout.css">
    <link rel="stylesheet" type="text/css" href="css/additional.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/declaration.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">      
    <link rel="stylesheet" type="text/css" href="css/custom.css"> 
</head>
<script>
    //取值的方法
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    //此处js是控制成功页面是否继续跳转的，如果在ov页面用户选择跳转到初始页面或这指定页面，那么此处代码会进行处理
    function fixandinit(){
        var url = location.href;
        var fixurl = getQueryString("fixandinit");
        if((fixurl != null && fixurl !== '' && fixurl !== 'null') && (typeof(fixurl) != "undefined") && (fixurl != 'http://captive.apple.com/hotspot-detect.html')){
            $('.btn').attr('disabled', true);
            window.setTimeout("window.location=\""+fixurl+"\"",5000);
        }
    }
</script>
<body ng-app="main" ng-controller="loginController as vm" onload="fixandinit()">
<div class="portal_layout_container vertical-center"
     id="success_layout_id">
    <div class="row col-md-12 no-padding-left-right">
        <div class="portal_layout_function">
			<div class="row no-padding-left-right">
                    <div class="container no-padding-left-right logo">
                            <img id="welcome_logo" ng-src="{{vm.welcome_logo}}" width="100%" style="cursor: pointer"
                            ng-click="vm.action.welcomeLinkedUrl()">
                    </div>                 
                <div id="success_bg" class="success_portal_layout_function_bg" style="background:none;background-color:white;">
                    <div class="container  success-container-body" style="border:none;box-shadow: 0px 2px 5px 0px rgba(173,155,173,1);"
                         id="chohei">
                        <div class="form-group" style="text-align: center;font-size: 20px;">
                            {{"login.message.loginSuccess"|translate}}
                            <br/>
                            {{"login.message.connectStaffMember"|translate}}
                            <br>
                            <div ng-if="vm.portalServiceUrl !== null&& vm.portalServiceUrl !== ''" style="word-wrap:break-word;word-break:break-all;">
                                {{"login.message.rememberDeviceMsg"|translate}}
                                <a id="sampleOne-add"
                                   ng-click="vm.action.goServicePortalPage()">{{"login.message.addRememberDevice"|translate}}
                                </a>
                            </div>
						</div>
						<div class="form-group" style="text-align: center;font-size: 20px;">
						   <a  class="btn btn-primary" ng-click="vm.action.logout()" ng-disabled="vm.block"><i ng-if="vm.block" class='fa fa-spinner fa-spin '></i>{{'login.logoutButton'| translate}}</a>
						</div>
					</div>
					<!-- <div class="clearfix"></div> -->
				</div>
            </div>
			<div class="clearfix"></div>
        </div>
    </div>

</div>
</body>
</html>